html
  font-size: $base-font-size+px
  height: 100%

body
  font-family: $font-family-default
  min-height: 100%

.fade-enter-active, .fade-leave-active
  transition: opacity .3s

.fade-enter, .fade-leave-to
  opacity: 0

.container
  padding: 0 30px

a
  text-decoration: none
  transition: all ease 0.2s
  &:hover
    text-decoration: none
